name: CLA

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, reopened, synchronize, edited, closed]

permissions:
  contents: write
  pull-requests: write
  issues: write
  statuses: write

jobs:
  cla:
    if: >
      github.event_name == 'pull_request_target' ||
      (github.event_name == 'issue_comment' && (contains(github.event.comment.body, 'recheck') ||
      contains(github.event.comment.body, 'I have read the CLA Document and I hereby sign the CLA')))
    runs-on: ubuntu-latest
    steps:
      - name: CLA Assistant
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-signatures: signatures/cla.json
          branch: cla-signatures
          allowlist: dependabot[bot],github-actions[bot]
          path-to-document: https://raw.githubusercontent.com/${{ github.repository }}/main/.github/cla.md
